@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* Brand */
  --color-brand: #3b82f6;   /* calm blue, feels modern + minimal */

  /* Neutrals */
  --color-bg: #ffffff;
  --color-surface: #f9fafb;
  --color-text: #111827;
  --color-muted: #6b7280;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  will-change: transform;
}

/* perspective for 3D hover */
.perspective-1000 {
  perspective: 1000px;
}
